<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.repository.TestRepository">
    <insert id="insertTest" parameterType="hashmap">
        INSERT INTO Test 
        (
        	ID
        	, NAME
        ) 
        VALUES 
        (
        	#{id}
        	, #{name}
        )
    </insert>
    
    <update id="updateTest" parameterType="hashmap">
        UPDATE Test 
        SET id = #{id}
          , name = #{name} 
        WHERE id = #{id}
    </update>
    
    <delete id="deleteTest" parameterType="hashmap">
        DELETE FROM Test 
        WHERE id = #{id}
    </delete>
    
    <select id="selectOneTest" parameterType="hashmap" resultType="lowerKeyMap">
        SELECT * 
        FROM Test 
        WHERE id = #{id}
    </select>
    
    <select id="selectAllTest" resultType="lowerKeyMap">
        SELECT TITLE title, ID id, CONTENT content, NAME name
        FROM Test
    </select>
</mapper>
